@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PowerserveHub</h1>
    <p>
        Get a .net core app going!
        <img src="~/images/orc.jpg" alt="Alternate Text" />
    </p>
</div>
